body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c7b198;
    color: #f0ece2;
    text-align: center;
}

.welcome {
    font-size: x-large;
    margin-top: 60px;

}

p {
    font-size: large;
}

* {
    margin: 0;
    padding: 0;
  }